<nb-card>
  <nb-card-header>{{ makale_baslik }} Makalesini Düzenle</nb-card-header>
  <nb-card-body>
    <form (submit)="handleUpdateSubmit(updateForm)" #updateForm="ngForm">

      <div class="form-group row">
        <label for="inputEmail1" class="label col-sm-3 col-form-label">Makale Başlığı</label>
        <div class="col-sm-9">
          <input [(ngModel)]="makale_baslik" name="makale_baslik" type="text" nbInput fullWidth id="inputEmail1" placeholder="Makale Başlığı">
        </div>
      </div>

      <div class="form-group row">
        <label for="inputkategori" class="label col-sm-3 col-form-label">Makale Kategorisi</label>
        <div class="col-sm-9">
          <nb-select [(ngModel)]="makale_kategori" name="makale_kategori" id="inputkategori">
            <nb-option value="ishukuku">İş Hukuku</nb-option>
            <nb-option value="cezahukuku">Ceza Hukuku</nb-option>
            <nb-option value="ticarethukuku">Ticaret Hukuku</nb-option>
            <nb-option value="ailehukuku">Aile Hukuku</nb-option>
            <nb-option value="gayrimenkulhukuku">Gayrimenkul Hukuku</nb-option>
            <nb-option value="sozlesmelerhukuku">Sözleşmeler Hukuku</nb-option>
          </nb-select>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputmetaaciklama" class="label col-sm-3 col-form-label">Makale Meta Açıklaması</label>
        <div class="col-sm-9">
          <input [(ngModel)]="makale_meta_description" name="makale_meta_description" type="text" nbInput fullWidth id="inputmetaaciklama" placeholder="Makale Meta Açıklaması">
        </div>
      </div>

      <ckeditor [(ngModel)]="makale_mesaj" name="makale_mesaj" [config]="{ extraPlugins: 'divarea', height: '320' }"></ckeditor>

      <div class="form-group row mt-3">
        <div class="col-sm-9">
          <button type="submit" nbButton status="primary">Düzenle</button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
